.root {
    -fx-font-family: 'Courier';
    -fx-font-size: 14px;
}

.font-l {
    -fx-font-size: 16px;
}

.font-l-bold {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.font-xl {
    -fx-font-size: 18px;
}

.border-black {
    -fx-border-color: black;
}

.volume-control {
    -fx-background-color: #DEDEDE;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.text-black {
    -fx-text-fill: #000000;
}

.text-white {
    -fx-text-fill: #FFFFFF;
}

.text-red {
    -fx-text-fill: #c80000;
}

.cell-black {
    -fx-background-color: #DEDEDE, #222222;
    -fx-background-insets: 0, 0 1 1 0;
}

.cell-red {
    -fx-background-color: #DEDEDE, #c80000;
    -fx-background-insets: 0, 0 1 1 0;
}

.default-grid-cell {
    -fx-background-color: black, white;
    -fx-background-insets: 0, 0 1 1 0;
}

.first-row {
    -fx-background-insets: 0, 1 1 1 0;
}

.first-column {
    -fx-background-insets: 0, 0 1 1 1;
}

.first-row.first-column {
    -fx-background-insets: 0, 1;
}

.rounded-border-white-bg {
    -fx-border-color: gray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: white;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view *.increment-button, .table-view *.decrement-button, .table-view *.increment-arrow, .table-view *.decrement-arrow {
    -fx-padding: 0;
    -fx-shape: "";
}

.table-column {
  -fx-alignment: CENTER;
}
